.banner {
  background-color: #25A2B8;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 40px;
}

.logo {
  height: 40px;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.banner-tittle {
  font-size: 30px;
  vertical-align: middle;
}
